@charset "UTF-8";
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
	color: #999;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4 {
	color: #fff;
	margin-left : 120px;
	padding : 20px;
	
}

a {
	color: #fff;
	text-decoration: none;
	
}

p {
	margin: 0.5rem 0;
}

img {
	width: 50%;
	height : 30px;
}

.showcase {
	width: 100%;
	height: 100vh;
	position: relative;
	background: url('../img/lalaland2.jpg') no-repeat center center/cover;
}


.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.65);
	box-shadow: inset 30px 10px 150px #000000;
}

.logo {
	position: relative;
	z-index: 2;
	height: 90px;
}

.logo img {
	width: 170px;
	position: absolute;
	top: 20px;
	left: 40px;
}

.showcase-content {
	position: relative;
	z-index: 2;
	width: 600px;
	height: 800px;
	background: rgb(0, 0, 0, 0.65);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	padding: 60px 65px;
}

label{
	display : inline-block;
	width : 80px;
}
input {
  width:260px;
  height:40px;
  font-size:17px;
  margin : 10px;
  margin-right : auto;
}
button{
	background-color: red;
	height : 40px;
	color: white;
	border-radius : 6px 6px 6px 6px;
	margin : 10px;
	width : 80px;
}

.btnSave{
	background-color: red;
	color: white;
	border-radius : 6px 6px 6px 6px;
	width:260px;
  height:40px;
  font-size:17px;
  margin-left : 95px;
}
#btnFindPwd{
	margin-left : 90px;
}
#pwd_title{
	width : 400px;
	margin : auto;
}
/*중복아이디 존재시*/
.email_re{
	 color: green;
	 display : none;
}
.email_re2{
	color : red;
	display : none;
}

.mail_check_input_box{
	display: inline-block;
	width: 270px;
}
  

.correct{
	color : green;
}
.incorrect{
	color : red;
}
.final_email_ck{
    display: none;
    color: green;
  
}
.final_pw_ck{
    display: none;
    color: green;
}
.final_pw_le{
	display: none;
	color : red;
}
.final_pwck_ck{
    display: none;
    color: green;
}
.final_name_ck{
    display: none;
    color: green;
}
.final_phone_ck{
    display: none;
    color: green;
}
.pwck_input_re_1{
        color : green;
        display : none;    
}
.pwck_input_re_2{
        color : red;
        display : none;    
}
.mail_input_box_warn{
				color: green;  
}  