@charset "UTF-8";

body{
	margin : 0px;
	padding : 0px;
	background-color : #000;
	box-sizing : border-box;
	overflow : hidden;
}

button{
	cursor : pointer;
}

.video_contain{
	display : flex;
}

#video_play{
	height : 100%;
}

#video2{
	position : absolute;
	left : 0;
	bottom : 0;
	min-width : 100%;
	min-height : 100%;
	width : auto;
	height : auto;
}

#video_play>.frm_video_play .adbuttons{
	display : none;
	position : absolute;
	min-width : 100%;
	height : 120px;
	background-color : #fff2;
	z-index : 2;
}

#video_play>.frm_video_play .adbuttons button{
	border : none;
	width : 100px;
	height : 70px;
	color : #fff;
	background-color : inherit;
	font-size : 50px;
	z-index : 1;
	margin-top : 30px;
	margin-left : 15px;
	text-shadow : 1px 1px 2px #000;
}

#video_play>.frm_video_play .adbuttons button:hover{
	color : #aaa;
	text-shadow : 3px 3px 5px #000;
}

#video_play>.frm_video_play .adbuttons>div{
	flex-basis : 150px;
	flex : 1;
}

#video_play>.frm_video_play .adbuttons>.video_flag{
	flex : 0;
}

#video_play>.frm_video_play .adbuttons>.video_flag>button{
	font-size : 30px;
}

#video_play #ads{
	display : none;
	width : 25%;
	height : 99vh;
	overflow : auto;
}

.video-js .vjs-time-control {
    display: block;
}

.video-js .vjs-control-bar {
	height : 100px;
	background-color : transparent;
}

.video-js .vjs-progress-control{
	position : absolute;
	min-width : 100%;
	height : 25px;
}

.video-js .vjs-play-control,
.video-js .vjs-fullscreen-control,
.video-js .vjs-picture-in-picture-control{
	margin-top : 25px;
	height : 75px;
	font-size : 25px;
	box-sizing : border-box;
}

.video-js .vjs-playback-rate,
.video-js .vjs-duration,
.video-js .vjs-current-time{
	margin-top : 25px;
	height : 75px;
	font-size : 20px;
	box-sizing : border-box;
	text-shadow: 1px 2px 1px #000;
}

.video-js .vjs-load-progress{
	background-color : gray;
}

.video-js .vjs-slider-bar{
	background-color : #f00;
}

.video-js .vjs-slider-bar::before{
	color : #f00;
	font-size : 20px;
}

.video-js .vjs-volume-panel{
	display : flex;
	flex : 1;
	margin-top : 25px;
	height : 75px;
	font-size : 25px;
	box-sizing : border-box;
}

.video-js .vjs-fullscreen-control{
	margin-top : 25px;
	height : 75px;
	font-size : 25px;
	box-sizing : border-box;
}

.video-js .vjs-remaining-time {
    display: none;
}

.vjs-time-divider {
    display: block !important;
}

.video-js .vjs-current-time{
	display : block !important;
}

/*
.video-js .vjs-duration{
    display: block !important;
}
*/
